<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
    </head>
    <body>
        <div class="text-center p-5">
            <h1 class="display-4">Main Menu</h1>
        </div>

        <div class="row p-5">
            <div class="col-md">
                <div class="card p-4 mb-2">
                    <div class="mt-4">
                        <h3 class="heading">{{category.name}}</h3>
                        <div class ="mt-1">
                            <a href="/game/3/headlines/">
                                <button class = "btn btn-primary">Play Game</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="row p-5">
            <div class="col-md">
                <div class="card p-4 mb-2">
                    <div class="d-flex flex-row allign-items-left">
                        <h6 class="mb-0"></h6>
                    </div>
                    <div class="mt-4">
                        <h3 class="heading">Game Maker</h3>
                        <div class ="mt-1">
                            <a href="/admin">
                                <button class = "btn btn-primary">Create Category</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card p-4 mb-2">
                    <div class="d-flex flex-row allign-items-left">
                        <h6 class="mb-0"></h6>
                    </div>
                    <div class="mt-4">
                        <h3 class="heading">Rules</h3>
                        <div class ="mt-1">
                            <a href="/game/rules">
                                <button class = "btn btn-primary">Go To Rules</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>


