<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
        <div class="text-center p-5">
            <h1 class="display-4">Rules</h1>
        </div>
        <div class="row p-5">
            <div class="col-md">
                <div class="card p-4 mb-2">
                    <div class="mt-4">
                        <h3 class="heading">
                        1. Separate your group into two teams.<br>
                        2. Each team will send a representative, known as a "news anchor", to the front of the room.<br>
                        3. Select <a href="/game/3/headlines/">Start Game</a><br>
                        4. In their best TV news voice, the news anchors will alternate reading news headlines.<br>
                        5. If a news anchor smiles, he/she must sit down and be replaced by the next team member.<br>
                        6. A news anchor will continue reading headlines until he/she breaks a smile.<br>
                        7. The team that can read the most headlines with a straight face wins.<br>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card p-4 mb-2">
                <div class="d-flex flex-row align-items-left">
                    <h6 class="mb-0"></h6>
                </div>
                <div class="mt-4">
                    <a href="/game/categories">
                        <button class = "btn btn-primary">Main Menu</button>
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>